@use "../config/breakpoints";
@use "../libraries/breakpoint-sass";

@function _breakpoint-value($name) {
  @if not map-has-key(breakpoints.$breakpoints, $name) {
    @error "Invalid breakpoint name `#{$name}`.";
  }

  @return map-get(breakpoints.$breakpoints, $name);
}

@function _breakpoint-value-below($name) {
  @return _breakpoint-value($name) - .03125; // .5px = (1/32)em
}

@mixin from($breakpoint) {
  @include breakpoint-sass.breakpoint(_breakpoint-value($breakpoint)) {
    @content;
  }
}

@mixin below($breakpoint) {
  @include breakpoint-sass.breakpoint(max-width _breakpoint-value-below($breakpoint)) {
    @content;
  }
}

@mixin between($breakpoint-from, $breakpoint-below) {
  @include breakpoint-sass.breakpoint(_breakpoint-value($breakpoint-from) _breakpoint-value-below($breakpoint-below)) {
    @content;
  }
}
