@use "../breakpoints";
@use "../config/font";

@function config($name) {
  @if not map-has-key(font.$fonts, $name) {
    @error "Invalid font-config name `#{$name}`.";
  }

  @return map-get(font.$fonts, $name);
}

@mixin font($name) {
  @if ($name == default) {
    @error "Please use a concrete font-config name";
  }

  $breakpoints: config($name);

  @if (map-has-key($breakpoints, extend)) {
    @include font(map-get($breakpoints, extend));
  }

  @each $breakpoint-name, $properties in $breakpoints {
    @if $breakpoint-name == base {
      @each $property, $value in $properties {
        #{$property}: $value;
      }
    }
    @else if $breakpoint-name != extend {
      @include breakpoints.from($breakpoint-name) {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}

@mixin use($name, $breakpoint) {
  $font: config($name);

  $font-base: map-get($font, 'base');
  $font-breakpoint: map-get($font, $breakpoint);

  $font-merged: map-merge($font-base, $font-breakpoint);

  @each $property, $value in $font-merged {
    #{$property}: $value;
  }
}
