@use "../config/icons";
@use "../rhythm";

$icons-font: "icons" !default;

@mixin _icon-without-mediaquery($position: before, $icon: false, $styles: true, $icons-font: $icons-font) {
  @if not map-has-key(icons.$icons, $icon) {
    @error "Invalid icon `#{$icon}`.";
  }

  @if $position == both {
    $position: "before, &::after";
  }

  // Either a ::before or ::after pseudo-element, or both, defaulting to ::before
  &::#{$position} {
    @if $icon {
      // A particular icon has been specified.
      // Note we prepend a zero-width-non-joiner character (\200C) to prevent wrapping.
      content: "\200c#{map-get(icons.$icons, $icon)}";
    }

    @if $styles {
      font-family: $icons-font;
      font-size: rhythm.line();
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}

@mixin _icon-screen-only($position: before, $icon: false, $styles: true, $icons-font: $icons-font) {
  @media screen {
    @include _icon-without-mediaquery($position, $icon, $styles, $icons-font) {
      @content;
    }
  }
}

// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true, $icons-font: $icons-font, $screen-only: false) {
  @if $screen-only {
    @include _icon-screen-only($position, $icon, $styles, $icons-font) {
      @content;
    }
  }
  @else {
    @include _icon-without-mediaquery($position, $icon, $styles, $icons-font) {
      @content;
    }
  }
}
