{% extends "node.html.twig" %}

{% block content %}
  {{ content.image }}

  <div{{ content_attributes.addClass(bem_block ~ '__content') }}>
    {% block kicker %}
      <div{{ author_attributes.addClass(bem_block ~ '__submitted') }}>
        {{ date }}
        {{ metadata }}
      </div>
    {% endblock %}

    {{ title_prefix }}
    <h3{{ title_attributes.addClass(bem_block ~ '__title') }}>
      {{ label }}
    </h3>
    {{ title_suffix }}

    {{ content|without('image') }}

    <div class="{{ bem_block }}__link">
      <a href="{{ url }}" rel="bookmark">{% trans %}Read more{% endtrans %}</a>
    </div>
  </div>
{% endblock %}
