{% set bem_block = bem_block ?: 'page' %}

{%
  set classes = classes ?: [
  bem_block,
  node ? bem_block ~ '--' ~ node.bundle|clean_class
  ]
%}

{% block page_states %}
  <div id="state-navbar" hidden></div>
  <div id="state-search" hidden></div>
{% endblock %}

{% block page %}
  <div{{ attributes.addClass(classes) }}>
    {% block page_header %}
      <header class="{{ bem_block }}__header page-header">
        {{ page.navbar|add_class('page-header__navbar') }}

        {{ page.topbar|add_class('page-header__topbar') }}

        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {{ page.header|add_class('page-header__header') }}
      </header>
    {% endblock %}

    {% block page_body %}
      <main class="{{ bem_block }}__body page-body">
        {{ page.content_top|add_class('page-body__content-top') }}

        {{ page.content|add_class('page-body__content') }}
      </main>
    {% endblock %}

    {% block page_footer %}
      <footer class="{{ bem_block }}__footer page-footer">
      {{ page.footer|add_class('page-footer__footer') }}
      </footer>
    {% endblock %}
  </div>
{% endblock %}
