{% block messages %}
  {% for type, messages in message_list %}
    {% set classes = [
    'messages',
    'messages--' ~ type,
    ] %}
    <div class="{{ attributes.addClass(classes).class }}" role="contentinfo" aria-label="{{ status_headings[type] }}">
      <div class="messages__content" {% if type == 'error' %} role="alert"{% endif %}>
        {% if status_headings[type] %}
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        {% endif %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {# Remove type specific classes. #}
    {{ attributes.removeClass(classes) }}
  {% endfor %}
{% endblock messages %}
