<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ subject }}</title>

  <style type="text/css">
    /* reset */
    #outlook a {
      padding: 0;
    }

    /* Force Outlook to provide a "view in browser" menu link. */
    .ExternalClass {
      width: 100%;
    }

    /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%;
    }

    /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
    p {
      margin: 0;
      padding: 0;
      font-size: 0px;
      line-height: 0px;
    }

    /* squash Exact Target injected paragraphs */
    table td {
      border-collapse: collapse;
    }

    /* Outlook 07, 10 padding issue fix */
    table {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    /* remove spacing around Outlook 07, 10 tables */

    /* bring inline */
    img {
      display: block;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a img {
      border: none;
    }

    a {
      text-decoration: none;
      color: #000001;
    }

    /* text link */
    a.phone {
      text-decoration: none;
      color: #000001 !important;
      pointer-events: auto;
      cursor: default;
    }

    /* phone link, use as wrapper on phone numbers */
    span {
      font-size: 13px;
      line-height: 17px;
      font-family: monospace;
      color: #000001;
    }
  </style>
  <!--[if gte mso 9]>
  <style>
    /* Target Outlook 2007 and 2010 */
  </style>
  <![endif]-->
</head>
<body style="width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">

<table align="center" cellpadding="0" cellspacing="0" border="0" width="800">
  <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
  <tr>
    <td>
      {{ body }}
    </td>
  </tr>
  <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
</table>

</body>
</html>
