$xxsmall: xxsmall;
$xsmall: xsmall;
$small: small;
$medium: medium;
$large: large;
$xlarge: xlarge;
$xxlarge: xxlarge;

// A map of viewport min-width breakpoints in ascending order.
$breakpoints: (
  $xxsmall: 0,         // Mobile portrait
  $xsmall: 40em,       // Mobile landscape  640px
  $small: 48em,        // Tablet portrait   768px
  $medium: 64em,       // Tablet landscape  1024px
  $large: 85.375em,    // Desktop small     1366px
  $xlarge: 90em,       // Desktop medium    1440px
  $xxlarge: 120em,     // Desktop large     1920px
);
