
// color palette
// based upon material design [https://www.google.com/design/spec/style/color.html#color-color-palette]

$black: #000;
$white: #fff;

$gray--25: #fafafa;
$gray--50: #f5f5f5;
$gray--100: #e8e8e8;
$gray--200: #d1d1d1;
$gray--300: #b9b9b9;
$gray--400: #a2a2a2;
$gray--500: #8b8b8b;
$gray--600: #747474;
$gray--700: #5d5d5d;
$gray--800: #464646;
$gray--900: #171717;
$gray--1000: $black;

$cherry--25: #fcf4f7;
$cherry--50: #f9e8ee;
$cherry--500: #c21a56;

$lavender--50: #f4f2ff;
$lavender--500: #948dff;

$blue--500: #0b77bd;

// color theme.
$primary: $cherry--500;
$primary--50: $cherry--50;
$accent: $gray--700;

$text: $black;
$heading: $black;
$link: $primary;

// color named.
$status-ok: #46b472;
$status-ok--light: #c9e1bd;
$status-warning: #ff9700;
$status-warning--light: #fff0db;
$status-error: #c91c1c;
$status-error--light: #f9c9bf;
