
$font-family-roboto: "Roboto", roboto, sans-serif;
$font-family-montserrat: "Montserrat", roboto, sans-serif;
$font-family-poppins: "Poppins", roboto, sans-serif;

$font-family-base: $font-family-roboto;
$font-family-heading: $font-family-poppins;
$font-family-sub-heading: $font-family-montserrat;
$font-family-button: $font-family-base;
$font-family-input: $font-family-base;

$font-weight--thin: 100;
$font-weight--extra-light: 200;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;
$font-weight--black: 900;

// Define the font types with a variable to enable
// auto complete in the font() mixin.

// Base
$text: text;
$text--small: text--small;
$text--xsmall: text--xsmall;
$text--intro: text--intro;

// Headings
$heading-a: heading-a;
$heading-b: heading-b;
$heading-c: heading-c;
$heading-d: heading-d;
$heading-e: heading-e;
$heading-f: heading-f;

// Menus
$menu-item--main: menu-item--main;
$menu-item--top: menu-item--top;

// Elements
$kicker: kicker;
$quote: quote;
$button: button;
$input: input;
$label: label;

$fonts: (
  base: (
    extend: $text,
  ),

  // paragraph text
  #{$text}: (
    base: (
      font-family: $font-family-base,
      font-size: 1rem,   // 16px
      font-weight: $font-weight--light,
      line-height: 1.5rem,  // 24px
    ),
    large: (
      font-size: 1.125rem,      // 18px
      line-height: 1.625rem,    // 26px
    )
  ),

  #{$text--small}: (
    base: (
      font-size: .875rem,      // 14px
      font-weight: $font-weight--light,
      line-height: 1.375rem,    // 22px
    ),
    large: (
      font-size: 1rem,      // 16px
      line-height: 1.5rem,    // 24px
    ),
  ),

  #{$text--xsmall}: (
    base: (
      font-size: .875rem,      // 14px
      font-weight: $font-weight--light,
      line-height: 1.375rem,    // 22px
    ),
  ),

  #{$text--intro}: (
    base: (
      font-size: 1.125rem,  // 18px
      font-weight: $font-weight--light,
      line-height: 1.625rem,     // 26px
    ),
    large: (
      font-size: 1.25rem,  // 20px
      line-height: 1.75rem, // 28px
    )
  ),

  #{$heading-a}: (
    base: (
      font-family: $font-family-heading,
      font-size: 2.25rem,    // 36px
      font-weight: $font-weight--normal,
      line-height: 2.25rem,       // 36px
    ),
    large: (
      font-size: 3.375rem,    // 54px
    )
  ),

  #{$heading-b}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.875rem, // 30px
      font-weight: $font-weight--semi-bold,
      line-height: 1.875rem,       // 30px
    ),
    large: (
      font-size: 2.25rem, // 36px
    )
  ),

  #{$heading-c}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.625rem,  // 26px
      font-weight: $font-weight--semi-bold,
      line-height: 1.625rem,       // 26px
    ),
    large: (
      font-size: 1.75rem, // 28px
    )
  ),

  #{$heading-d}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.375rem,    // 22px
      font-weight: $font-weight--semi-bold,
      line-height: 1.25rem,       // 20px
    ),
    large: (
      font-size: 1.375rem, // 22px
      line-height: 1.375rem,       // 22px
    )
  ),

  #{$heading-e}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.125rem,   // 18px
      font-weight: $font-weight--semi-bold,
      line-height: 1.125rem,       // 18px
    )
  ),

  #{$heading-f}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1rem,   // 16px
      font-weight: $font-weight--semi-bold,
      line-height: 1rem,       // 16px
    )
  ),

  #{$menu-item--main}: (
    extend: $heading-e
  ),

  #{$menu-item--top}: (
    base: (
      font-size: 1rem,  // 16px
      line-height: 1.125, // 18px
    )
  ),

  #{$kicker}: (
    extend: $text--xsmall,
  ),

  #{$quote}: (
    base: (
      font-family: $font-family-input,
      font-size: 1.125rem,    // 18px
      font-weight: $font-weight--normal,
      line-height: 1.625rem,   // 26px
    ),
    large: (
      font-size: 1.25rem,    // 20px
      line-height: 1.75rem,   // 28px
    )
  ),

  #{$button}: (
    base: (
      font-family: $font-family-button,
      font-size: 1rem,        // 16px
      font-weight: $font-weight--normal,
      line-height: 1.5,  // 24px
    )
  ),

  // TODO
  #{$input}: (
    base: (
      font-family: $font-family-input,
      font-size: 1rem,    // 16px
      font-weight: $font-weight--normal,
      line-height: 1.5,   // 24px
    ),
  ),

  // carousel buttons, button label, input label
  #{$label}: (
    base: (
      font-size: .75rem,        // 14px
      line-height: 1.57142857,  // 22px
      font-weight: $font-weight--extra-bold,
    ),
    large: (
      font-size: 1rem,      // 16px
      line-height: 1.5,     // 24px
    )
  ),
);
