// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$icons: (
  add: "\ea01",
  arrow-down: "\ea02",
  arrow-left: "\ea03",
  arrow-right: "\ea04",
  arrow-up: "\ea05",
  check: "\ea06",
  chevron-down: "\ea07",
  chevron-left: "\ea08",
  chevron-right: "\ea09",
  chevron-up: "\ea0a",
  close: "\ea0b",
  facebook: "\ea0c",
  home: "\ea0d",
  menu: "\ea0e",
  quote: "\ea0f",
  search: "\ea10",
  twitter: "\ea11",
  youtube: "\ea12",
);
