
.views-view-table-wrapper {
  @media screen and (max-width: 767px) {
    max-height: 60vh;
    overflow: auto;
    position: relative;

    .sticky-header {
      display: none;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
}
