
.view {

}

.block-system-main-block > .views-element-container > .view {
  @media screen and (min-width: 768px) {
    .views-view-table-wrapper > table {
      caption-side: bottom;
    }

    .views-view-table-wrapper > table > caption {
      background: #f3f4f9;
      border-bottom: 1px solid #dedfe4;
      bottom: 66px;
      font-weight: bold;
      padding: .5rem 1rem;
      position: sticky;
      z-index: 5;

      details {
        background: transparent;
        border: none;
        border: 0;
        box-shadow: none;
        font-weight: normal;
        margin: -.5rem -1rem;
      }

      summary {
        font-weight: bold;
        padding: .5rem 1rem .5rem 2.25rem;
      }
    }

    .views-view-table-wrapper::after {
      background: #fff;
      bottom: 0;
      content: '';
      display: block;
      height: 66px;
      position: sticky;
      z-index: 5;
    }

    & > .pager {
      background: #fff;
      bottom: 0;
      margin: 0;
      padding: 1px;
      position: sticky;
      z-index: 5;
    }

    .view-footer {
      bottom: .5rem;
      position: sticky;
      z-index: 5;
    }

    .views-exposed-form fieldset {
      border: none;
      box-shadow: none;
      margin: .75rem .5rem 0 0;

      .fieldset__label {
        color: #000;
        font-size: .889rem;
        font-weight: bold;
        line-height: 1.125rem;
        margin-bottom: .25rem;
        margin-top: .25rem;
        padding: 0;
      }

      .fieldset__wrapper {
        align-items: flex-end;
        display: flex;
        margin: 0;
      }

      .form-item {
        margin: 0 .5rem 0 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .form-type--select {
        margin-right: -1px;
      }
    }
  }
}
