
.views-form [data-drupal-selector="edit-commerce-order-bulk-form"],
.views-form [data-drupal-selector="edit-comment-bulk-form"],
.views-form [data-drupal-selector="edit-media-bulk-form"],
.views-form [data-drupal-selector="edit-node-bulk-form"],
.views-form [data-drupal-selector="edit-user-bulk-form"] {
  & > * {
    margin: 1rem 0;
  }

  .button {
    margin: 0;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin: 0 1rem 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .button {
      margin: 0 1rem 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.views-form [data-drupal-selector="edit-actions"] {
  .button {
    @media screen and (max-width: 767px) {
      margin: 0;
      width: 100%;
    }
  }
}
