@use "../util/visually-hidden";

.hidden {
  display: none;
}

.visually-hidden {
  @include visually-hidden.fragment();
  @include visually-hidden.fragment--focusable();
}

.invisible {
  visibility: hidden;
}
