@use "../colors";
@use "../icons";
@use "../fonts";
@use "../rhythm";
@use "../util/reset";
@use "../util/visually-hidden";

@mixin component() {
  padding: 0;

  &__label {
    @include visually-hidden.fragment();
  }

  &__list {
    @include fonts.font(fonts.$text--xsmall);
    @include reset.list();

    display: flex;
    flex-direction: row;
    gap: .25rem;
  }

  &__item {
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 0;

    @include icons.icon(after, chevron-right) {
      font-size: 1rem;
      margin-left: .25rem;
      margin-top: .125rem;
    }
  }

  &__item-link {
    color: colors.$text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
