@use "../abstracts/selection";
@use "../box-shadow";
@use "../breakpoints";
@use "../colors";
@use "../fonts";

// Displays an element as a button.
@mixin _component() {
  @include fonts.font(fonts.$button);

  appearance: none;
  border-radius: unset;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  margin: .25rem 1rem .25rem 0;
  padding: .625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: .2s;
  vertical-align: middle;

  &:focus,
  &:hover {
    box-shadow: box-shadow.$default;
    text-decoration: none;
    transform: scale(1.04);
  }

  &:disabled {
    color: rgba(255, 255, 255, .7);
  }
}

@mixin _colors($background, $foreground, $border: $background, $background-hover: lighten($background, 7%), $foreground-hover: $foreground ) {
  background: $background;
  border-color: $border;
  color: $foreground;

  &:focus,
  &:hover {
    background: $background-hover;
    color: $foreground-hover;
  }
}

@mixin primary() {
  @include _component();
  @include _colors(
    $background: colors.$primary,
    $foreground: colors.$white,
    $background-hover: colors.$primary,
  );
  @include selection.component(colors.$primary--50, colors.$primary);
}

@mixin primary-ghost() {
  @include _component();
  @include _colors(
    $background: transparent,
    $foreground: colors.$primary,
    $border: colors.$primary,
    $background-hover: colors.$white
  );
}

@mixin secondary() {
  @include _component();
  @include _colors(
    $background: colors.$black,
    $foreground: colors.$white,
    $background-hover: colors.$black,
  );
  @include selection.component(colors.$white, colors.$primary);
}

@mixin secondary-ghost() {
  @include _component();
  @include _colors(
    $background: transparent,
    $foreground: colors.$black,
    $border: colors.$black,
    $background-hover: colors.$white
  );
}
