@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../icons";

@mixin component() {
  border-bottom: 1px solid colors.$gray--100;
  padding: 1rem 1.75rem;
  position: relative;

  &:has(+ details) {
    margin-bottom: unset;
  }

  & > summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-bottom: 0;

    @include icons.icon(before, add) {
      color: inherit;
      display: inline-block;
      font-size: 1rem;
      left: 0;
      padding: 0;
      position: absolute;
      transform-origin: center;
      transition: transform .4s;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover,
    &:focus {
      font-weight: fonts.$font-weight--semi-bold;

      > * {
        text-decoration: underline;
      }
    }
  }

  &[open] {
    padding-bottom: 1rem;

    & > summary {
      font-weight: fonts.$font-weight--semi-bold;
      margin-bottom: .75rem;

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
