@use "../abstracts/details";
@use "../abstracts/link";
@use "../abstracts/list";
@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../icons";

@mixin component() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$heading;
    margin: 0 0 1rem;

    a {
      color: colors.$link;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    @include fonts.font(fonts.$heading-b);
  }

  h3 {
    @include fonts.font(fonts.$heading-c);
  }

  h4 {
    @include fonts.font(fonts.$heading-d);
  }

  h5 {
    @include fonts.font(fonts.$heading-e);
  }

  h6 {
    @include fonts.font(fonts.$heading-f);
  }

  :where(p) {
    &:where(:not([class])) {
      @include fonts.font(fonts.$text);
    }

    &:not(:last-child) {
      margin: 0 0 2rem;
    }
  }

  hr {
    border: none;
    border-top: 1px solid colors.$gray--100;
    height: 0;
    margin: 2rem 0;
  }

  :where(blockquote) {
    background-color: colors.$primary--50;
    margin: unset;
    padding: 1.25rem;

    @include icons.icon(before, 'quote') {
      color: colors.$primary;
      display: block;
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }

    &:not(:last-child) {
      margin: 0 0 2rem;
    }

    & > * {
      @include fonts.font(fonts.$quote);
    }
  }

  ol {
    @include list.ordered();
  }

  ul {
    @include list.unordered();
  }

  p + ol,
  p + ul {
    margin: -1.5rem 0 1.5rem 0;
  }

  ol,
  ul,
  table {
    &:where(:not(:last-child)) {
      margin: 0 0 1.5rem;
    }

    a {
      @include link.component();
    }
  }

  caption,
  figcaption {
    @include fonts.font(fonts.$text--small);

    color: colors.$gray--600;
    padding: 0 .75rem;
  }

  table {
    &,
    & * {
      @include fonts.font(fonts.$text--xsmall);
    }

    --border: 1px solid #{colors.$gray--300};
    --border-radius: .25rem;

    background-color: white;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    tr {
      th {
        background-color: colors.$gray--25;
        border-bottom: unset;
        font-weight: fonts.$font-weight--bold;
        text-align: left;
        vertical-align: middle;
      }

      td {
        vertical-align: top;
      }

      th,
      td {
        border-right: var(--border);
        padding: .75rem;

        &:first-child {
          border-left: var(--border);
        }
      }

      &:first-child {
        th,
        td {
          border-top: var(--border);
        }
      }
    }

    thead,
    tbody {
      tr {
        &:first-child {
          :first-child {
            border-top-left-radius: var(--border-radius);
          }

          :last-child {
            border-top-right-radius: var(--border-radius);
          }
        }
      }
    }

    tbody {
      tr {
        th,
        td {
          border-bottom: var(--border);
        }

        &:last-child {
          :first-child {
            border-bottom-left-radius: var(--border-radius);
          }

          :last-child {
            border-bottom-right-radius: var(--border-radius);
          }
        }
      }
    }

    thead + tbody {
      tr {
        &:first-child {
          :first-child {
            border-top-left-radius: 0;
          }

          :last-child {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  details {
    @include details.component();

    &:where(:not(:last-child)) {
      margin: 0 0 2rem;
    }
  }
}
