@use "../abstracts/button";
@use "../colors";
@use "../grid";
@use "../rhythm";

@mixin component() {
  @include grid.base();

  padding: rhythm.line(2) 0;
  position: relative;

  & .form-submit {
    @include button.primary();
  }
}
