@use "../config/input";
@use "../colors";
@use "../fonts";
@use "../rhythm";
@use "../spacing";

@mixin component() {
  @include fonts.font(fonts.$input);

  background-color: input.$background-color;
  border: input.$border-width solid input.$border-color;
  border-radius: input.$border-radius;
  box-sizing: border-box;
  color: input.$color;
  margin: .5rem 0;
  max-width: 100%;
  padding: .6875rem 1rem;
  text-shadow: none;

  &:hover {
    border-color: input.$border-color--hover;
  }

  &::placeholder {
    color: input.$color--placeholder;
  }

  &:read-only,
  &:disabled {
    background-color: colors.$gray--50;
    border-color: colors.$gray--200;
    color: colors.$gray--900;
  }

  &:focus {
    border: input.$border-width solid input.$border-color--focus;
    outline: none;
  }

  &.error {
    border-color: input.$border-color--error;
  }
}
