@use "../abstracts/input-base";

@mixin component() {
  @include input-base.component();
}

@mixin abstract-input-text--with-prefix($padding: 3rem) {
  padding-left: $padding;
}

@mixin abstract-input-text--with-suffix($padding: 3rem) {
  padding-right: $padding;
}
