@use "../config/input";
@use "../colors";
@use "../icons";
@use "../util/visually-hidden";

@mixin _base() {
  appearance: none;
  background-color: input.$background-color;
  border: input.$border-width solid input.$border-color;
  cursor: pointer;
  display: inline-grid;
  height: 1.25rem;
  margin: 0 .5rem 0 0;
  padding: 0;
  place-content: center;
  width: 1.25rem;

  & + label {
    cursor: pointer;
    display: inline-block;
  }

  &::before {
    content: "";
    opacity: 0;
    transition: .2s opacity ease-in-out;
  }

  &:disabled {
    background-color: colors.$gray--50;
    border-color: colors.$gray--200;
    color: colors.$gray--900;
  }
}

@mixin checkboxes() {
  @include _base();

  border-radius: input.$border-radius;

  @include icons.icon(before, check) {
    color: input.$border-color--hover;
    font-size: 1.25rem;
  }

  &:hover:not(:checked):not(:indeterminate)::before {
    opacity: 1;
  }

  &:checked::before {
    color: input.$border-color--focus;
    opacity: 1;
  }
}

@mixin checkboxes--indetermined() {
  @include _base();

  &::before {
    background-color: input.$border-color--focus;
    border-radius: .0625rem;
    height: .1875rem;
  }

  &:hover:not(:checked):not(:indeterminate)::before {
    background-color: input.$border-color--hover;
    opacity: 1;
  }

  &:checked::before {
    background-color: input.$border-color--focus;
    opacity: 1;
  }
}

@mixin radio() {
  @include _base();

  border-radius: 1rem;

  &::before {
    border-radius: 1rem;
    height: .75rem;
    width: .75rem;
  }

  &:hover:not(:checked):not(:indeterminate)::before {
    background-color: input.$border-color--hover;
    opacity: 1;
  }

  &:checked::before {
    background-color: input.$border-color--focus;
    opacity: 1;
  }
}

@mixin toggle() {
  @include _base();

  border-radius: 1rem;
  padding: 0 .1875rem;
  place-content: center start;
  width: 2rem;

  & + label {
    cursor: pointer;
    display: inline-block;
  }

  &:hover {
    border-color: input.$border-color--focus;
  }

  &::before {
    background-color: input.$border-color--hover;
    border-radius: 1rem;
    content: "";
    height: .75rem;
    opacity: unset;
    transition: .2s background-color ease-in-out;
    width: .75rem;
  }

  &:checked {
    place-content: center end;
  }

  &:checked::before {
    background-color: input.$border-color--focus;
  }

  &:disabled {
    cursor: default;

    &:hover {
      border-color: colors.$gray--200;
    }

    &::before {
      background-color: input.$border-color--hover;
      border-radius: 1rem;
      content: "";
      opacity: unset;
    }

    & + label {
      cursor: default;
    }
  }
}
