@use "../abstracts/selection";
@use "../colors";

@mixin component($color: colors.$link, $color-hover: $color) {
  color: $color;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $color-hover;
    text-decoration: none;
  }
}
