@use "../abstracts/selection";
@use "../colors";
@use "../icons";

@mixin component() {
  &,
  & a {
    color: colors.$link;
    display: inline-block;
    padding-right: 1.5rem;
    position: relative;
    text-decoration: none;

    @include icons.icon(after, arrow-right) {
      font-size: .9em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: right .2s ease-in-out;
    }

    &:focus,
    &:hover {
      text-decoration: none;

      &::after {
        right: -.25rem;
      }
    }
  }
}
