@use "../colors";
@use "../fonts";
@use "../icons";
@use "../util/reset";

@mixin _base() {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;

  li {
    @include fonts.font(fonts.$text);
  }
}

@mixin unordered() {
  @include _base();

  padding: 0 0 0 2rem;
}

@mixin ordered() {
  @include _base();

  padding: 0 0 0 1.75rem;

  li {
    padding: 0 0 0 .25rem;
  }
}
