@use "../colors";

@mixin component($container-ratio-x: 16, $container-ratio-y: 10, $background: false) {
  background: colors.$gray--50;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;

  &__image {
    aspect-ratio: calc(#{$container-ratio-x} / #{$container-ratio-y});
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__source {
    aspect-ratio: calc(#{$container-ratio-x} / #{$container-ratio-y});
    overflow: hidden;
    pointer-events: if($background, none, auto);
    position: relative;
  }

  &__source-item {
    bottom: 0;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    iframe {
      height: 100%;
      inset: 0;
      position: absolute;
      width: 100%;
    }
  }
}
