@use "../breakpoints";

.block-breadcrumb {
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.page--page .block-breadcrumb {
  @include breakpoints.from(breakpoints.$medium) {
    grid-column: c 3 / c 10;
  }
}
