@use "../fonts";
@use "../spacing";
@use "../util/reset";

.block-footernavigation {
}

.block-footernavigation__menu {
  @include reset.list();
}

.block-footernavigation__menu-item {
  display: inline-block;
  margin-right: spacing.fragment();
}

.block-footernavigation__menu-item-link {
  @include fonts.font(fonts.$label);

  color: inherit;
  display: block;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
