@use "../breakpoints";
@use "../fonts";
@use "../rhythm";

.block-pagetitle {
  position: relative;
  z-index: 1;

  h1 {
    @include fonts.font(fonts.$heading-a);

    margin-bottom: 0;
  }
}

.page--page .block-pagetitle {
  @include breakpoints.from(breakpoints.$medium) {
    grid-column: c 3 / span 8;
  }
}
