@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../icons";
@use "../rhythm";
@use "../util/visually-hidden";

.block-navbar-close {
  @include breakpoints.from(breakpoints.$xsmall) {
    display: none;
  }
}

.block-navbar-close__link {
  border: 2px solid currentColor;
  border-radius: 50%;
  color: colors.$gray--500;
  display: block;
  height: rhythm.line(calc(1 + 1 / 2));
  line-height: calc(2.25rem - 4px);
  margin: rhythm.line(calc(2 + 1 / 2)) 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: rhythm.line(calc(1 + 1 / 2));

  @include icons.icon(after, close) {
    color: colors.$gray--500;
    font-size: 1.5em;
    vertical-align: middle;
  }
}

.block-navbar-close__link-label {
  @include visually-hidden.fragment();
}
