@use "../abstracts/media-video";
@use "../breakpoints";

.media-video-figure {
  @include media-video.component(16, 9);

  width: 100%;
}

.paragraph-text-lane {
  .media-video-figure {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @include breakpoints.from(breakpoints.$large) {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
