@use "../colors";
@use "../fonts";
@use "../rhythm";
@use "../spacing";
@use "../util/reset";

.messages {
  margin-bottom: rhythm.line(calc(1 / 4));
  margin-top: rhythm.line(calc(1 / 2));
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.messages__content {
  padding: rhythm.line(calc(1 / 2)) gutter();
}

.messages--status .messages__content {
  background-color: colors.$status-ok--light;
  color: colors.$status-ok;
}

.messages--warning .messages__content {
  background-color: colors.$status-warning--light;
  color: colors.$status-warning;
}

.messages--error .messages__content {
  background-color: colors.$status-error--light;
  color: colors.$status-error;
}

.messages__list {
  @include reset.list();
}

.messages__item {
  margin-bottom: rhythm.line(calc(1 / 4));

  a {
    color: inherit;
  }

  & > .item-list:last-child > ul {
    margin: 0;
  }
}
