@use "../abstracts/node-full";
@use "../breakpoints";
@use "../grid";

.node-article-full {
  @include node-full.component();
}

.node-article-full__meta {
  @include grid.base();
}

.node-article-full__body {
  grid-column: content-start / content-end;

  @include breakpoints.from(breakpoints.$medium) {
    grid-column: c 1 / span 8;
  }

  @include breakpoints.from(breakpoints.$large) {
    grid-column: c 1 / span 6;
  }
}
