
.page {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.page__header {
  flex: 0 0 auto;
}

.page__body {
  flex: 1 0 auto;
}

.page__footer {
  flex: 0 0 auto;
}
