@use "../breakpoints";
@use "../colors";
@use "../grid";
@use "../rhythm";

.page-header {
  @include grid.base($auto-place-columns: false);

  min-height: rhythm.line(2);

  @include breakpoints.from(breakpoints.$xsmall) {
    min-height: rhythm.line(4);
  }

  @include breakpoints.from(breakpoints.$xsmall) {
    min-height: rhythm.line(4);
  }
}

.page-header__topbar {
  grid-column: content-start / content-end;
  grid-row: 1 / 2;

  @include breakpoints.from(breakpoints.$xsmall) {
    grid-column: c 1 / span 3;
  }
}

.page-header__navbar {
  grid-column: c 4 / span 9;
}

.page-header__header {
  grid-column: content-start / content-end;
  grid-row: 2 / 3;
}
