@use "../abstracts/lane";
@use "../abstracts/lane-colors";
@use "../breakpoints";
@use "../rhythm";

.paragraph-text-three-cols-lane {
  @include lane.component($padding-bottom: 1);
  @include lane-colors.component();
}

.paragraph-text-three-cols-lane__title {
  grid-row: 1;
  margin-bottom: rhythm.line();
}

.paragraph-text-three-cols-lane__col1,
.paragraph-text-three-cols-lane__col2 {
  @include breakpoints.below(breakpoints.$small) {
    margin-bottom: rhythm.line();
  }
}

.paragraph-text-three-cols-lane__col1 {
  grid-row: 2;

  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 1 / span 4;
  }
}

.paragraph-text-three-cols-lane__col2 {
  grid-row: 3;

  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 5 / span 4;
    grid-row: 2;
  }
}

.paragraph-text-three-cols-lane__col3 {
  grid-row: 4;

  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 9 / span 4;
    grid-row: 2;
  }
}
