@use "../abstracts/lane";
@use "../abstracts/lane-colors";
@use "../abstracts/partialset";
@use "../breakpoints";
@use "../rhythm";

.paragraph-twofold-lane {
  @include lane.component($padding: 1);
  @include lane-colors.component();
}

.paragraph-twofold-lane__col1 {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 1 / span 6;
  }
}

.paragraph-twofold-lane__col2 {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 7 / span 6;
  }
}

.paragraph-twofold-lane__col1,
.paragraph-twofold-lane__col2 {
  @include partialset.component();
}

.paragraph-twofold-lane__col1 + .paragraph-twofold-lane__col2 {
  @include breakpoints.below(breakpoints.$small) {
    padding-top: rhythm.line();
  }
}

.paragraph-twofold-lane--left {
  .paragraph-twofold-lane__title,
  .paragraph-twofold-lane__col1 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 1 / span 8;
    }
  }

  .paragraph-twofold-lane__col2 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 9 / span 4;
    }
  }
}

.paragraph-twofold-lane--center {
  .paragraph-twofold-lane__title,
  .paragraph-twofold-lane__col1 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 3 / span 4;
    }
  }

  .paragraph-twofold-lane__col2 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 7 / span 4;
    }
  }
}

.paragraph-twofold-lane--right {
  .paragraph-twofold-lane__title,
  .paragraph-twofold-lane__col1 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 1 / span 4;
    }
  }

  .paragraph-twofold-lane__col2 {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 5 / span 8;
    }
  }
}
