
.responsive-image {

}

.responsive-image--focal-left-top {
  object-position: left top;
}

.responsive-image--focal-center-top {
  object-position: center top;
}

.responsive-image--focal-right-top {
  object-position: right top;
}

.responsive-image--focal-left-center {
  object-position: left center;
}

.responsive-image--focal-center-center {
  object-position: center center;
}

.responsive-image--focal-right-center {
  object-position: right center;
}

.responsive-image--focal-left-bottom {
  object-position: left bottom;
}

.responsive-image--focal-center-bottom {
  object-position: center bottom;
}

.responsive-image--focal-right-bottom {
  object-position: right bottom;
}
