@use "../abstracts/button";

.button {
  @include button.primary();
}

.button-ghost {
  @include button.primary-ghost();
}

.button-secondary {
  @include button.secondary();
}

.button-secondary-ghost {
  @include button.secondary-ghost();
}
